/* 
color variables defined
*/
:root {
  /* --paleBlue: hsl(225, 100%, 94%); */
}
/* Box sizing to border-box Reset 
    Also setting font size to 100% to use rems
    1rem = 16px initially with default browser settings
  */
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Setting up background and base font */

body {
  /* font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--paleBlue); */
}

/* Credit information below code */

.attribution {
  font-size: 0.68rem;
  text-align: center;
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
}

/* Mobile First ----------------------------  */
